# First, check your python env and install pandas

In [ ]:
!pip install pandas

# Pandas intro
## 1. Pandas works best with tabular data(csv for example)
## 2. Actions like 
  - explore
  - clean
  - customized process
#  3. Glossory
 * DataFrame: the data table represents the tabular data
 * Series: column in the DataFrame

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)


df

                       Name  Age     Sex
0   Braund, Mr. Owen Harris   22    male
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

# Series selection

In [4]:
df["Name"]

0     Braund, Mr. Owen Harris
1    Allen, Mr. William Henry
2    Bonnell, Miss. Elizabeth
Name: Name, dtype: object

# Or create a Series by hand

In [22]:
p_ages = pd.Series([15,16,17,18], name="Age")
age_min = p_ages.min()
age_max = p_ages.max()
print("min:{}, max:{}".format(p_ages.min(),p_ages.max()))
print(f"min:{age_min}, max:{age_max}")

min:15, max:18
min:15, max:18

# Load Data from csv file

In [31]:
df = pd.read_csv("iris/iris.data")
df.head()

   pedal length  pedal width  septal length  septal width      "class"
0           5.1          3.5            1.4           0.2  Iris-setosa
1           4.9          3.0            1.4           0.2  Iris-setosa
2           4.7          3.2            1.3           0.2  Iris-setosa
3           4.6          3.1            1.5           0.2  Iris-setosa
4           5.0          3.6            1.4           0.2  Iris-setosa

In [33]:
# show first N rows
print(df.head(3))
print("-"*80)

#show last N rows
print(df.tail(3))
print("-"*80)

#check the frame's column data type
print(df.dtypes)

   pedal length  pedal width  septal length  septal width      "class"
0           5.1          3.5            1.4           0.2  Iris-setosa
1           4.9          3.0            1.4           0.2  Iris-setosa
2           4.7          3.2            1.3           0.2  Iris-setosa
--------------------------------------------------------------------------------
     pedal length  pedal width  septal length  septal width         "class"
147           6.5          3.0            5.2           2.0  Iris-virginica
148           6.2          3.4            5.4           2.3  Iris-virginica
149           5.9          3.0            5.1           1.8  Iris-virginica
--------------------------------------------------------------------------------
pedal length     float64
pedal width      float64
septal length    float64
septal width     float64
 "class"          object
dtype: object

In [34]:
# Show the data frame's details
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   pedal length   150 non-null    float64
 1   pedal width    150 non-null    float64
 2   septal length  150 non-null    float64
 3   septal width   150 non-null    float64
 4    "class"       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB